/*
 * Service API
 * This API exposes endpoints.
 *
 * The version of the OpenAPI document: v1
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.zipper.delivery.hub.sdk.api;

import com.zipper.delivery.hub.sdk.ApiClient;
import com.zipper.delivery.hub.sdk.ApiException;
import com.zipper.delivery.hub.sdk.ApiResponse;
import com.zipper.delivery.hub.sdk.Configuration;
import com.zipper.delivery.hub.sdk.Pair;

import com.zipper.delivery.hub.sdk.model.OAuth2ErrorResponse;
import com.zipper.delivery.hub.sdk.model.OAuth2TokenResponse;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import org.apache.http.HttpEntity;
import org.apache.http.NameValuePair;
import org.apache.http.entity.mime.MultipartEntityBuilder;
import org.apache.http.message.BasicNameValuePair;
import org.apache.http.client.entity.UrlEncodedFormEntity;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@jakarta.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.13.0")
public class OAuth2Api {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public OAuth2Api() {
    this(Configuration.getDefaultApiClient());
  }

  public OAuth2Api(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * Exchange client credentials for an access token
   * Issues a JWT access token in exchange for valid API client credentials using the client_credentials grant type.
   * @param grantType OAuth2 grant type (must be &#39;client_credentials&#39;) (required)
   * @param clientId API client identifier (required)
   * @param clientSecret API client secret key (required)
   * @return OAuth2TokenResponse
   * @throws ApiException if fails to make API call
   */
  public OAuth2TokenResponse token(@jakarta.annotation.Nonnull String grantType, @jakarta.annotation.Nonnull String clientId, @jakarta.annotation.Nonnull String clientSecret) throws ApiException {
    ApiResponse<OAuth2TokenResponse> localVarResponse = tokenWithHttpInfo(grantType, clientId, clientSecret);
    return localVarResponse.getData();
  }

  /**
   * Exchange client credentials for an access token
   * Issues a JWT access token in exchange for valid API client credentials using the client_credentials grant type.
   * @param grantType OAuth2 grant type (must be &#39;client_credentials&#39;) (required)
   * @param clientId API client identifier (required)
   * @param clientSecret API client secret key (required)
   * @return ApiResponse&lt;OAuth2TokenResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<OAuth2TokenResponse> tokenWithHttpInfo(@jakarta.annotation.Nonnull String grantType, @jakarta.annotation.Nonnull String clientId, @jakarta.annotation.Nonnull String clientSecret) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = tokenRequestBuilder(grantType, clientId, clientSecret);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("token", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<OAuth2TokenResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<OAuth2TokenResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<OAuth2TokenResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder tokenRequestBuilder(@jakarta.annotation.Nonnull String grantType, @jakarta.annotation.Nonnull String clientId, @jakarta.annotation.Nonnull String clientSecret) throws ApiException {
    // verify the required parameter 'grantType' is set
    if (grantType == null) {
      throw new ApiException(400, "Missing the required parameter 'grantType' when calling token");
    }
    // verify the required parameter 'clientId' is set
    if (clientId == null) {
      throw new ApiException(400, "Missing the required parameter 'clientId' when calling token");
    }
    // verify the required parameter 'clientSecret' is set
    if (clientSecret == null) {
      throw new ApiException(400, "Missing the required parameter 'clientSecret' when calling token");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/auth/oauth/token";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "*/*");

    List<NameValuePair> formValues = new ArrayList<>();
    if (grantType != null) {
        formValues.add(new BasicNameValuePair("grant_type", grantType.toString()));
    }
    if (clientId != null) {
        formValues.add(new BasicNameValuePair("client_id", clientId.toString()));
    }
    if (clientSecret != null) {
        formValues.add(new BasicNameValuePair("client_secret", clientSecret.toString()));
    }
    HttpEntity entity = new UrlEncodedFormEntity(formValues, java.nio.charset.StandardCharsets.UTF_8);
    ByteArrayOutputStream formOutputStream = new ByteArrayOutputStream();
    try {
        entity.writeTo(formOutputStream);
    } catch (IOException e) {
        throw new RuntimeException(e);
    }
    localVarRequestBuilder
        .header("Content-Type", entity.getContentType().getValue())
        .method("POST", HttpRequest.BodyPublishers
            .ofInputStream(() -> new ByteArrayInputStream(formOutputStream.toByteArray())));
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

}
